.square {
	position: absolute;
	border-style: solid;
    border-radius: 2px;
    border-width: 1.5px;
    top: 0;
    left: 0;
}
.square:hover {
	border-color: red;
}
.square-selected {
	border-color: #ff00ff;
}