.menu {
	position: absolute;
	z-index: 2;
    background: rgba(128, 128, 128, 0.9);
}


.menu-content app-piece-select {
	text-align: center;
	display: inline-block;
	margin-top: 294px;
	margin-left: 10px;
}


h1,h2,h3 {
	color: white;
}