<button (click)="menuPress()">Menu</button>
<button (click)="startGame()">Restart Game</button>

<app-menu
	*ngIf="showMenu"
	[width]="menuWidth"
	[height]="menuHeight"
	[squareSize]="squareSize"
>

</app-menu>

<div class="board">
	<app-square
		*ngFor="let square of squares"
		[squareSpacing]="squareSpacing"
		[squareSize]="squareSize"	
		[square]="square"
		>
	</app-square>

	<app-piece
		*ngFor="let piece of pieces"
		[squareSpacing]="squareSpacing"
		[squareSize]="squareSize"
		[piece]="piece"
		>
	</app-piece>
</div>