.piece-icon {
	display: block;
	background-color: white;
	border-radius: 2px;
	border-style: solid;
	border-width: 1.5px;
	width: 64px;
	height: 64px;
	text-align: initial;
	margin-left: 10px;
	/*float: left;*/
}

.piece-icon:hover {
	border-color: red;
}

.piece-image-icon {
}